{
  "projectId": "your-firebase-project-id",
  "privateKey": "-----BEGIN PRIVATE KEY-----\nYOUR-KEY-HERE\n-----END PRIVATE KEY-----\n",
  "clientEmail": "firebase-adminsdk-xxxxx@your-firebase-project-id.iam.gserviceaccount.com"
}
